
@font-face {
  font-family: 'Preahvihear';
  src: url('/assets/Preahvihear-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
   scroll-behavior: smooth; /* remove this if you have it */
}

.Preahvihear {
  font-family: Preahvihear, sans-serif;
}

.my-background {
  background-image: url('/assets/pastel_gradient.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll; /* NOT fixed - fixed causes repaint issues */
  
  /* These are the magic ones: */
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* @import "tailwindcss"; */